<h2>Dropping Columns from a Dataframe<h2>

In [1]:
# 1.
# Load the packages we will need.

print("Loading packages...", end = '')

import numpy as np
import pandas as pd
import os

print("Finished.")

Loading packages...Finished.

In [2]:
# 2.
# Show all .csv files (data files) in the Data directory

print('Data files in the /Data directory:\n')
for x in os.listdir(r'C:\Users\weyen\OneDrive\Desktop\deep'):
    x.endswith('.csv')
    print(x)

Data files in the /Data directory:

.ipynb_checkpoints
CNN-FashionMNIST-Model4.ipynb
CNN-Model4.ipynb
ConfusionMatrix.ipynb
DataPrep-1-Exploration.ipynb
DataPrep-2-DropColumns(1).ipynb
f-MNIST-testData-tool.ipynb
fashion-mnist_test.csv
fashion-mnist_train.csv
Neural Network-Model1.ipynb
Neural Network-Model2.ipynb
Neural Network-Model3.ipynb
nyc_collision_factors.csv
sandal.jpg
sandal_MNIST.jpg
shorts.jpg
shorts_MNIST.jpg
sneaker.jpg
sneaker_MNIST.jpg
t10k-images-idx3-ubyte
t10k-labels-idx1-ubyte
top.jpg
top_MNIST.jpg
train-images-idx3-ubyte
train-labels-idx1-ubyte
Tshirt.jpg
Tshirt_MNIST.jpg

In [3]:
# 3. 
# Select a dataset to be loaded.  Copy-and-paste its name to the path below, as in 'Data/filename' 
# The data is loaded into a Python dataframe we will call df.  

print("Loading the dataset...")

df=pd.read_csv('nyc_collision_factors.csv')
#df=pd.read_csv('Data/nyc_collision_factors.csv', encoding = "ISO-8859-1")

print("Finished.")

Loading the dataset...
Finished.

In [4]:
#  4.
#  Print the first few rows of the df data frame.

df.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,11/10/2016,16:11:00,BROOKLYN,11208.0,40.662514,-73.872007,"(40.6625139, -73.8720068)",WORTMAN AVENUE,MONTAUK AVENUE,NaN,...,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,TAXI,PASSENGER VEHICLE,NaN,NaN,NaN
1,11/10/2016,05:11:00,MANHATTAN,10013.0,40.721323,-74.008344,"(40.7213228, -74.0083444)",HUBERT STREET,HUDSON STREET,NaN,...,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
2,04/16/2016,09:15:00,BROOKLYN,11201.0,40.687999,-73.997563,"(40.6879989, -73.9975625)",HENRY STREET,WARREN STREET,NaN,...,Lost Consciousness,Lost Consciousness,NaN,NaN,NaN,PASSENGER VEHICLE,VAN,NaN,NaN,NaN
3,04/15/2016,10:20:00,QUEENS,11375.0,40.719228,-73.854542,"(40.7192276, -73.8545422)",NaN,NaN,67-64 FLEET STREET,...,Failure to Yield Right-of-Way,Failure to Yield Right-of-Way,Failure to Yield Right-of-Way,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
4,04/15/2016,10:35:00,BROOKLYN,11210.0,40.632147,-73.952731,"(40.6321467, -73.9527315)",BEDFORD AVENUE,CAMPUS ROAD,NaN,...,Failure to Yield Right-of-Way,Failure to Yield Right-of-Way,NaN,NaN,NaN,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN

In [5]:
#  5.
#  Get the data features (column names).

features = df.columns
features = features[0:len(df.columns)]
print(features)

Index(['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLISTS INJURED', 'NUMBER OF CYCLISTS KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

In [6]:
#  6.
#  To see all the data values in a column, copy-and-paste the column name
#  in the first line below and run this cell.
#  The task is to decide which of these columns provide the best data
#  and should be kept.  Delete the other columns.

dclass = df['ON STREET NAME']
dclass = dclass.unique()
print(dclass)
print(len(dclass))

['WORTMAN AVENUE' 'HUBERT STREET' 'HENRY STREET' ... '147 PLACE'
 'CARROLL STREET' 'ANDREWS AVENUE']
1672

In [21]:
#  6.
# Designate which columns to drop from the data frame.  Run this code 
# using different column names until satisfied.

df = df.drop(['ZIP CODE'], axis = 1)

features = df.columns
features = features[0:len(df.columns)]
print(features)

Index(['DATE', 'TIME', 'BOROUGH', 'LOCATION', 'ON STREET NAME',
       'CROSS STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2'],
      dtype='object')

<h4>After dropping the columns you want to eliminate, save your dataframe
to a new .csv file.  Be sure to use a new version name!</h4>

In [22]:
#  7.
# We've now one hot-encoded all of our data that was categorical.  let's save the file to a new name so we, 
# as before, preserve the original data while giving us a new file with which to work.  This new file will be 
# the one we will load and use to train and test our models.  Here I've added the abbreviation "dev" so it is 
# clear that we will be using it for our model development work.

print("Saving the dataset with columns dropped...")

df.to_csv('nyc-dropped-columns.csv', index = False)

print("Finished.")

Saving the dataset with columns dropped...
Finished.